## Rails Main Environment
RAILS_ENV=development
PORT=3000
ASSETS_HOST=localhost:3000
TZ=America/Sao_Paulo

# Puma Settings
RAILS_MAX_THREADS=4
WEB_CONCURRENCY=1

## Database Environment
DB_ADAPTER=postgresql
DB_HOST=localhost
DB_PORT=5432
DB_NAME=db_name_development
DB_USER=db_user
DB_PSWD=db_password

# Database Test Environment
TEST_RAILS_ENV=test
TEST_DB_ADAPTER=postgresql
TEST_DB_HOST=localhost
TEST_DB_PORT=5432
TEST_DB_NAME=db_name_test
TEST_DB_USER=db_user
TEST_DB_PSWD=db_password